*{
    box-sizing: border-box;
}
:root{
    /* --p1-embg: #ED3999; */
    --p1-embg: rgb(248, 123, 6);
    --p1-bg: #EFADCD;
    /* --p1-bdbg: #FF6FE3; */
    --p1-bdbg: rgb(5, 123, 170);
    --p2-bdbg: #EFADCD;
    --p3-bdbg: rgb(170, 116, 187);
    --accent: #DF3A8E;
    --accent2: #E04D8E;

}

body{
    /* background: rgb(11,12,127); */
    /* background: linear-gradient(180deg, rgba(2,2,42,1) 3%, rgba(11,12,127,1) 41%, rgba(0,36,236,1) 63%, rgba(133,251,245,1) 100%); */
    background: rgb(31, 41, 25);
    /* background: rgb(81, 1, 97); */
    /* background: rgb(27, 43, 19); */
    /* background: linear-gradient(90deg, rgba(17,27,12,1) 0%, rgba(62,97,0,1) 20%, rgba(255,236,166,1) 50%, rgba(62,97,0,1) 80%, rgba(17,27,12,1) 100%); */
    background-repeat: repeat;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

.wrapper{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    
}
/* .content{
    
} */
header {
    background-image: url("/imgs/header3.png");
    background-size:contain;
    background-repeat: no-repeat;
    width:90vw;
    height:35vw;
}
.board{
    width:90vw;
    height:90vw;
    padding: 20px;
    margin:0 auto;
    border-color: rgb(231, 235, 32);
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    background-color:#0A3610;
    /* display:grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
    display: flex;
    flex-wrap: wrap;
}
.win .board{
    background:none;
    border-style:none;
}
main.win{
    background: url("/imgs/tada.png");
    background-size: contain;
    border-style: none;
    background-repeat: no-repeat;
    background-position: center;
}
.board img {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    visibility: hidden;
    user-select: none;
}
.board .active img {
    visibility: visible;
}
.small .board > div {
    height: 25%;
    width: 25%;
    background: #ebefad;
    background-image: none;
    border: 3px solid #ccb94e;
    border-radius: 50%;
}
.small .board > div:nth-child(1), .small .board > div:nth-child(11) {
    margin-left: 25%;
}
.small .board > div:nth-child(2) {
    margin-right: 25%;
}


.medium .board > div {
    height: 16.5%;
    width: 16.5%;
    background: #ebefad;
    background-image: none;
    border: 3px solid #ccb94e;
    border-radius: 50%;
}
.medium .board > div:nth-child(1), .medium .board > div:nth-child(23) {
    margin-left: 33%;
}
.medium .board > div:nth-child(2) {
    margin-right: 33%;
}
.medium .board > div:nth-child(3), .medium .board > div:nth-child(19){
    margin-left: 16.3%;
}
.medium .board > div:nth-child(6) {
    margin-right: 16.3%;
}


.large .board > div {
    height: 12.5%;
    width: 12.5%;
    background: #ebefad;
    background-image: none;
    border: 3px solid #ccb94e;
    border-radius: 50%;
}
.large .board > div:nth-child(1), .large .board > div:nth-child(43) {
    margin-left: 37.5%;
}
.large .board > div:nth-child(2) {
    margin-right: 37.5%;
}
.large .board > div:nth-child(3), .large .board > div:nth-child(9), .large .board > div:nth-child(31), .large .board > div:nth-child(37) {
    margin-left: 12.5%;
}
.large .board > div:nth-child(8), .large .board > div:nth-child(14),  .large .board > div:nth-child(36), .large .board > div:nth-child(42) {
    margin-right: 12.5%;
}


.board > div.active  {
    background: none;
    background-size: cover;
    border: 0px;
}
.board > div.active:hover {
    background:none;
    border: 0;
}
.board > div:hover {
    background: rgb(248, 219, 53);
    border: 3px solid rgb(204, 185, 78);
}



aside {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.share, .reset {
    height: 30vw;
    width: 30vw;
    border: 2px solid rgb(204, 185, 78);
    border-radius: 50%;
}
.size {
    height: 20vw;
    width: 20vw;
    border: 2px solid rgb(204, 185, 78);
    border-radius: 50%;
}
.share {
    background: url("/imgs/share.png");
    background-color: #0A3610;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}
.reset {
    background: url("/imgs/reset.png");
    background-color: #0A3610;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}
.size {
    /* background: url(); */
    background-color: #0A3610;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}
.small .size {
    background-image: url("/imgs/size-small.png");
}
.medium  .size{
    background-image: url("/imgs/size-medium.png");
}
.large .size {
    background-image: url("/imgs/size-large.png");
}
.share:hover, .reset:hover, .size:hover  {
    background-color: rgb(11, 70, 19);
    border: 2px solid rgb(204, 185, 78);
}

footer{
    color:rgb(204, 185, 78);
    text-align: right;
    margin: 50px 0 20px;
}

@media only screen and (min-width: 768px) {
    .board{
        width:60vh;
        height:60vh;
    }
    .share {
        height: 25vh;
        width: 25vh;
    }
    .reset {
        height: 25vh;
        width: 25vh;
    }
    .size {
        height: 15vh;
        width: 15vh;
    }
    header{
        width:70vh;
        height:25vh;
    }

}
